<section>
  <div class="px-8 md:px-12 pt-12 lg:pt-48 2xl:max-w-7xl mx-auto">
    <h1 class="text-gray-900 text-4xl lg:text-6xl font-display max-w-6xl">
      Crafting unique digital experiences where code and creativity converge to
      shape your vision in your everyday.
    </h1>
  </div>
</section>
