@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --astro-code-color-text: #c99a32;
  --astro-code-color-background: #fafafa;
  --astro-code-token-constant: #3f6152;
  --astro-code-token-string: #413f3e;
  --astro-code-token-comment: #999;
  --astro-code-token-keyword: #777;
  --astro-code-token-parameter: #333;
  --astro-code-token-function: #4876ce;
  --astro-code-token-string-expression: #fe631b;
  --astro-code-token-punctuation: #ffffff;
  --astro-code-token-link: #ffffff;
}

.prose-styles {
  @apply prose-base first-letter:text-4xl first-letter:font-display text-gray-600;
}