@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
    @font-face {
        font-family: "Larken Fallback";
        src: local("Georgia");
    }

    @font-face {
        font-family: "tabular-numbers";
        src: local("charter"), local("cambria");
        unicode-range: U+0030-0039;
    }

    @font-face {
        font-family: "Larken";
        src: url("/fonts/larken-variable.woff2") format("woff2"), url("/fonts/larken-variable.woff") format("woff");
        font-weight: 100 900;
        font-stretch: 75% 125%;
        font-feature-settings: "case" 1, "liga" 1, "kern" 1;
        font-display: swap;
    }

    body {
        letter-spacing: -0.8px;
    }

    body.font-loaded {
        letter-spacing: 0px;
    }

    h1 {
        @apply text-5xl font-bold;
        line-height: 1.1;
    }

    h2 {
        @apply text-3xl mb-6 font-bold;
        line-height: 1.1;
    }

    h3 {
        @apply text-xl leading-tight font-bold mb-4;
    }

    h4 {
        @apply leading-tight font-bold mb-2;
    }

    strong {
        font-weight: bold;
    }

    a,
    abbr {
        @apply underline decoration-yellow-400 decoration-solid underline-offset-2 transition-all duration-200 ease-in-out;
        text-decoration-skip-ink: auto;
        text-decoration-thickness: 0.1em;

        &:hover {
            @apply text-yellow-600 decoration-yellow-200;
        }

        &:focus {
            @apply text-yellow-600;
        }
    }

    abbr {
        @apply cursor-help decoration-dotted;
    }

    pre {
        @apply p-2 rounded;
    }

    code {
        @apply text-sm;
        counter-reset: step;
        counter-increment: step 0;
    }

    code .line::before {
        content: counter(step);
        counter-increment: step;
        width: 1rem;
        margin-right: 1.5rem;
        display: inline-block;
        text-align: right;
        color: rgba(115, 138, 148, .4)
    }

    blockquote {
        @apply bg-yellow-100 p-4 rounded font-mono text-sm;
    }
}

@layer components {
    a.btn-text {
        @apply relative font-bold lowercase tracking-wide;
        font-variant: common-ligatures small-caps;

        &::after {
            content: "";
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='%23d88900' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M5 12h13m-6-7l7 7-7 7'/%3E%3C/svg%3E");
            @apply absolute bottom-0 w-4 h-full inline-block bg-no-repeat bg-center transition-all duration-200 ease-out transform opacity-0;
        }

        &:hover {
            &::after {
                @apply opacity-100 translate-x-1;
            }
        }
    }
}

@layer utilities {
    .flow>*+* {
        @apply mt-8;
    }

    /* Typography */
    .prose {
        line-height: 1.8;
        max-width: 50rem;

        h2:not(:first-child) {
            @apply mt-16;
        }

        ul {
            @apply list-inside list-disc;
        }

        h3+p,
        h4+ul {
            @apply mt-0;
        }
    }

    .max-w-headline {
        max-width: 20ch;
    }

    /* Images */
    /* .img-fill>img {
        object-fit: cover;
    } */
}