---
import { getCollection } from "astro:content";
import BaseLayout from "@/layouts/BaseLayout.astro";
const allPosts = await getCollection("posts");
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
const pageTitle = "Tag Index";
---

<BaseLayout pageTitle={pageTitle}>
  <section>
    <div class="px-8 md:px-12 pt-12 lg:pt-48 2xl:max-w-7xl mx-auto">
      <h1 class="text-gray-900 text-4xl lg:text-6xl font-display max-w-6xl">
        All tags
      </h1>
      <ol role="list" class="flex flex-col gap-3 mt-8">
        {
          tags.map((tag) => (
            <li class="inline-flex items-center  text-xs uppercase font-medium text-gray-900">
              <a href={`/tags/${tag}`}>{tag}</a>
            </li>
          ))
        }
      </ol>
    </div>
  </section>
</BaseLayout>
