<section>
  <div class="px-8 md:px-12 pt-12 2xl:max-w-7xl mx-auto">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 items-start">
      <h1 class="text-gray-900 text-2xl lg:text-6xl font-display max-w-6xl">
        In Riflesso
      </h1>
      <div class="space-y-6 text-gray-600 text-xl max-w-xl lg:ml-auto">
        <p>
          Introducing Riflesso - your new partners in design crime, except
          without the masks and capes. We're the cool cats behind digital design
          and brand wizardry, spreading our magic across the world.
        </p>
        <p>
          Why Riflesso, you ask? Well, we couldn't resist the call of the design
          universe. We're not your average office crowd – more like a bunch of
          design rebels on the loose. We've got this awesome network of talented
          folks and studios we team up with whenever we need to rock the design
          stage.
        </p>
        <p>
          Think of us as the ultimate design dream team, minus the spandex. From
          crafting brand vibes to sprinkling digital fairy dust, we're the
          jack-of-all-trades. We handle everything from nifty industrial designs
          to vintage print charm to apps that are so slick, they might just
          steal your heart.
        </p>
        <p>
          But here's the kicker – we're not about quick fixes. We're all about
          creating designs that stand the test of time, not just one-hit
          wonders. So if you're ready to dive into a world of design
          awesomeness, give us a shout!
        </p>
      </div>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-px mt-8">
      <div>
        <img class="aspect-[4/4] object-cover" src="/e1.png" alt="#" />
        <article class="mt-4">
          <p class="text-gray-900 font-semibold">Tonny Parker</p>
          <p class="text-gray-500 font-normal lg:col-span-2">CEO - Developer</p>
        </article>
      </div>
      <div>
        <img class="aspect-[4/4] object-cover" src="/e2.png" alt="#" />
        <article class="mt-4">
          <p class="text-gray-900 font-semibold">Jhon Sutherland</p>
          <p class="text-gray-500 font-normal lg:col-span-2">UI/UX</p>
        </article>
      </div>
      <div>
        <img class="aspect-[4/4] object-cover" src="/e3.png" alt="#" />
        <article class="mt-4">
          <p class="text-gray-900 font-semibold">Anna McCain</p>
          <p class="text-gray-500 font-normal lg:col-span-2">Operations</p>
        </article>
      </div>
    </div>
    <div
      class="grid grid-cols-1 lg:grid-cols-2 mt-12 lg:mt-32 gap-8 items-start">
      <p class="text-gray-900 text-2xl lg:text-7xl font-display">Operations</p>
      <div class="space-y-4">
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-8">
          <p class="text-gray-900 font-semibold shrink-0 uppercase">
            Cash Matters
          </p>
          <p class="text-gray-500 font-normal lg:col-span-2">
            Each team member in the Funky Collective is worth a princely 2900
            USD Dollars per hour. We're no fans of discounts for junior champs,
            though!
          </p>
        </div>
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-8">
          <p class="text-gray-900 font-semibold shrink-0 uppercase">All In</p>
          <p class="text-gray-500 font-normal lg:col-span-2">
            Our minimum deal kicks off at a whopping 100,000 USD Dollars. We're
            like relationship builders, not your everyday freelancers.
          </p>
        </div>
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-8">
          <p class="text-gray-900 font-semibold shrink-0 uppercase">
            Time Bandits
          </p>
          <p class="text-gray-500 font-normal lg:col-span-2">
            We put in the grind for four days a week, reserving the other trio
            for thrilling outdoor escapades and indulging in some top-notch
            family theatrics.
          </p>
        </div>
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-8">
          <p class="text-gray-900 font-semibold shrink-0 uppercase">
            Jetsetters
          </p>
          <p class="text-gray-500 font-normal lg:col-span-2">
            <a href="https://teenage.engineering/"
              >We're remote workers, so we can team up with you whether you're
              chilling in a hammock or scaling a mountain. Distance is just a
              number, right?
            </a>
          </p>
        </div>
      </div>
    </div>
    <div
      class="grid grid-cols-1 lg:grid-cols-2 mt-12 lg:mt-32 gap-8 items-start">
      <p class="text-gray-900 text-2xl lg:text-7xl font-display">Culture</p>
      <div class="space-y-4">
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-8">
          <p class="text-gray-900 font-semibold shrink-0 uppercase">Humans</p>
          <p class="text-gray-500 font-normal lg:col-span-2">
            We're all about cooking up design experiences that last longer than
            your average sitcom binge-watching session. If you're all about
            quality that stands the test of time and have a sense of purpose as
            sharp as a chef's knife, we're your kind of people.
          </p>
        </div>
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-8">
          <p class="text-gray-900 font-semibold shrink-0 uppercase">Earth</p>
          <p class="text-gray-500 font-normal lg:col-span-2">
            Yep, the internet gobbles up more energy than a famished T-Rex at an
            all-you-can-eat buffet. Can you believe it? Turns out, 3.8% of the
            world's carbon footprint is on the internet's tab. So, we're here to
            whip up brand and digital goodies that not only look cool but also
            help in giving Mother Earth a much-needed breather.
          </p>
        </div>
      </div>
    </div>
    <div
      class="grid grid-cols-1 lg:grid-cols-2 mt-12 lg:mt-32 gap-8 items-start">
      <p class="text-gray-900 text-2xl lg:text-7xl font-display">Services</p>
      <div class="space-y-4">
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-8">
          <p class="text-gray-900 font-semibold shrink-0 uppercase">
            Brand Identity Overhaul
          </p>
          <p class="text-gray-500 font-normal lg:col-span-2">
            Is your brand feeling a bit outdated? We've got the magic wand to
            revamp your entire brand identity – from logo redesign to color
            palette spruce-ups. Say goodbye to brand monotony!
          </p>
        </div>
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-8">
          <p class="text-gray-900 font-semibold shrink-0 uppercase">
            Web Wonderland
          </p>
          <p class="text-gray-500 font-normal lg:col-span-2">
            Step into the digital wonderland with our web design services. We'll
            whip up a website that not only looks stunning but also functions
            like a dream. Get ready to impress your online visitors.
          </p>
        </div>
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-8">
          <p class="text-gray-900 font-semibold shrink-0 uppercase">
            Print Party
          </p>
          <p class="text-gray-500 font-normal lg:col-span-2">
            Let's bring your ideas to life on paper! Our print design services
            cover everything from business cards that shine to brochures that
            pop. Get your print game on!
          </p>
        </div>
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-8">
          <p class="text-gray-900 font-semibold shrink-0 uppercase">
            App Adventures
          </p>
          <p class="text-gray-500 font-normal lg:col-span-2">
            Want an app that stands out in the overcrowded app store? We've got
            you covered. Our app design wizards will create a user-friendly and
            visually appealing app that users won't be able to resist.
          </p>
        </div>
      </div>
    </div>
    <div
      class="grid grid-cols-1 lg:grid-cols-2 mt-12 lg:mt-32 gap-8 items-start">
      <p class="text-gray-900 text-2xl lg:text-7xl font-display">Clients</p>
      <div class="space-y-4">
        <p class="text-gray-500 font-normal">
          Over time, we've collaborated with clients of all sizes from around
          the world, spanning both individual commissions and studio-based
          partnerships. Here's a curated collection of our collaborations.
        </p>

        <div class="grid grid-cols-1 lg:grid-cols-3 gap-8">
          <div
            class="text-gray-900 shrink-0 flex flex-col gap-4 font-display lg:text-6xl">
            <p>PixelFusion</p>
            <p>SparkWave</p>
            <p>NovaCraft</p>
            <p>QuantumInk</p>
            <p>ChromaTech</p>
            <p>DreamScape</p>
            <p>Luminex</p>
            <p>GravityGraphix</p>
          </div>
        </div>
        <p class="text-gray-500 font-normal">and more...</p>
      </div>
    </div>
  </div>
</section>
