<section>
  <div class="px-8 md:px-12 pt-12 2xl:max-w-7xl mx-auto">
    <h1 class="text-gray-900 text-4xl font-display max-w-6xl">
      <span class="block lg:text-9xl font-display"> Oopsie-doodle! - 404</span>
      It seems you've taken a detour into the digital wilderness. Our cyber-map must
      have had a giggle fit! But fear not, you can always hit the "Back" button or
      try a different path to get back on track. If you're feeling adventurous, you
      could even try a little digital spelunking and explore some other corners of
      our website. Happy virtual exploring!
    </h1>

    <p class="mt-8">
      <a
        href=""
        class="text-gray-600 text-4xl lg:text-8xl font-display underline hover:text-gray-900"
        >Go back</a
      >
    </p>
  </div>
</section>
