<section>
  <div class="px-8 md:px-12 pt-12 lg:pt-48 2xl:max-w-7xl mx-auto">
    <h1 class="text-gray-900 text-4xl lg:text-6xl font-display max-w-6xl">
      Frequent questions and answers.
    </h1>
    <div class="space-y-6 mt-12 lg:mt-24 max-w-xl">
      <details>
        <summary
          class="text-gray-900 font-semibold uppercase focus:text-gray-600 items-center justify-between">
          What is your product/service all about?
        </summary>
        <p class="text-gray-600 text-xl pt-8 mt-4">
          Our product/service is designed to [briefly describe your
          product/service].
        </p>
      </details>
      <details>
        <summary
          class="text-gray-900 font-semibold uppercase focus:text-gray-600 items-center justify-between">
          How can I get started?
        </summary>
        <p class="text-gray-600 text-xl pt-8 mt-4">
          Getting started is easy! Just [explain the first steps users need to
          take to begin using your product/service].
        </p>
      </details>
      <details>
        <summary
          class="text-gray-900 font-semibold uppercase focus:text-gray-600 items-center justify-between">
          Is there a free trial available?
        </summary>
        <p class="text-gray-600 text-xl pt-8 mt-4">
          Yes, we offer a free trial period of [mention the duration of the free
          trial] so you can explore our features before committing.
        </p>
      </details>
      <details>
        <summary
          class="text-gray-900 font-semibold uppercase focus:text-gray-600 items-center justify-between">
          What payment options do you accept?
        </summary>
        <p class="text-gray-600 text-xl pt-8 mt-4">
          We accept major credit and debit cards, as well as PayPal for your
          convenience.
        </p>
      </details>
      <details>
        <summary
          class="text-gray-900 font-semibold uppercase focus:text-gray-600 items-center justify-between">
          How do I contact customer support?
        </summary>
        <p class="text-gray-600 text-xl pt-8 mt-4">
          You can reach our friendly customer support team by emailing us at
          [support@email.com] or by using the "Contact Us" form on our website.
        </p>
      </details>
      <details>
        <summary
          class="text-gray-900 font-semibold uppercase focus:text-gray-600 items-center justify-between">
          Can I cancel my subscription at any time?
        </summary>
        <p class="text-gray-600 text-xl pt-8 mt-4">
          Absolutely, you have the flexibility to cancel your subscription at
          any time with no hidden fees or penalties.
        </p>
      </details>
      <details>
        <summary
          class="text-gray-900 font-semibold uppercase focus:text-gray-600 items-center justify-between">
          Do you have a mobile app?
        </summary>
        <p class="text-gray-600 text-xl pt-8 mt-4">
          Yes, we have a dedicated mobile app available for both iOS and Android
          devices. You can download it from the App Store or Google Play Store.
        </p>
      </details>
      <details>
        <summary
          class="text-gray-900 font-semibold uppercase focus:text-gray-600 items-center justify-between">
          How secure is my data?
        </summary>
        <p class="text-gray-600 text-xl pt-8 mt-4">
          We take data security seriously. Your information is encrypted and
          protected using industry-standard security measures.
        </p>
      </details>
      <details>
        <summary
          class="text-gray-900 font-semibold uppercase focus:text-gray-600 items-center justify-between">
          Can I upgrade my plan later on?
        </summary>
        <p class="text-gray-600 text-xl pt-8 mt-4">
          Of course! You can upgrade your plan anytime to access additional
          features and benefits.
        </p>
      </details>
      <details>
        <summary
          class="text-gray-900 font-semibold uppercase focus:text-gray-600 items-center justify-between">
          Do you offer customization options for businesses?
        </summary>
        <p class="text-gray-600 text-xl pt-8 mt-4">
          Absolutely, we provide tailored solutions for businesses. Feel free to
          contact our sales team to discuss your specific requirements.
        </p>
      </details>
      <details>
        <summary
          class="text-gray-900 font-semibold uppercase focus:text-gray-600 items-center justify-between">
          What is your refund policy?
        </summary>
        <p class="text-gray-600 text-xl pt-8 mt-4">
          We offer a [mention the duration] money-back guarantee. If you're not
          satisfied, you can request a refund within this period.
        </p>
      </details>
      <details>
        <summary
          class="text-gray-900 font-semibold uppercase focus:text-gray-600 items-center justify-between">
          How often do you release updates?
        </summary>
        <p class="text-gray-600 text-xl pt-8 mt-4">
          We strive to improve our product regularly. Updates are released
          [mention the frequency] to enhance your experience.
        </p>
      </details>
      <details>
        <summary
          class="text-gray-900 font-semibold uppercase focus:text-gray-600 items-center justify-between">
          Is technical support available?
        </summary>
        <p class="text-gray-600 text-xl pt-8 mt-4">
          Yes, we offer technical support to assist you with any issues or
          questions you may have while using our product/service.
        </p>
      </details>

      <details>
        <summary
          class="text-gray-900 font-semibold uppercase focus:text-gray-600 items-center justify-between">
          What languages are supported?
        </summary>
        <p class="text-gray-600 text-xl pt-8 mt-4">
          Our product/service currently supports [list the languages supported],
          and we're continuously working to add more languages in the future.
        </p>
      </details>

      <details>
        <summary
          class="text-gray-900 font-semibold uppercase focus:text-gray-600 items-center justify-between">
          Can I share my subscription with others?
        </summary>
        <p class="text-gray-600 text-xl pt-8 mt-4">
          Our subscription plans are designed for individual use. Sharing
          accounts is not permitted, as each subscription is intended for a
          single user.
        </p>
      </details>

      <details>
        <summary
          class="text-gray-900 font-semibold uppercase focus:text-gray-600 items-center justify-between">
          How can I provide feedback or suggestions?
        </summary>
        <p class="text-gray-600 text-xl pt-8 mt-4">
          We love hearing from our users! You can provide feedback and
          suggestions by emailing us at [feedback@email.com] or using the
          feedback form on our website.
        </p>
      </details>
    </div>
  </div>
</section>
