<section>
  <div class="px-8 md:px-12 pt-12 2xl:max-w-7xl mx-auto">
    <h1 class="text-gray-900 text-4xl lg:text-6xl font-display max-w-6xl">
      Overview
    </h1>
    <ul role="list" class="mt-16 grid grid-cols-1 lg:grid-cols-5 gap-8">
      <li>
        <h3 class="font-display text-3xl font-bold tracking-tight text-black">
          Main pages
        </h3>
        <ul role="list" class="flex flex-col gap-2 mt-4">
          <a class="text-gray-600 hover:text-gray-900" href="/"> Home</a>
          <a
            class="text-gray-600 hover:text-gray-900"
            href="/infopages/company">
            Company</a
          >

          <a class="text-gray-600 hover:text-gray-900" href="/work/all-work">
            Work</a
          >
          <a class="text-gray-600 hover:text-gray-900" href="/work/case-study">
            Case Study</a
          >
        </ul>
      </li>
      <li>
        <h3 class="font-display text-3xl font-bold tracking-tight text-black">
          Blog
        </h3>
        <ul role="list" class="flex flex-col gap28 mt-4">
          <a class="text-gray-600 hover:text-gray-900" href="/blog/blog-one">
            Magazine one</a
          >
          <a class="text-gray-600 hover:text-gray-900" href="/blog/blog-two">
            Magazine two</a
          >

          <a class="text-gray-600 hover:text-gray-900" href="/blog/1">
            Magazine post</a
          >
          <a class="text-gray-600 hover:text-gray-900" href="/tags">
            Tag index</a
          >
          <a class="text-gray-600 hover:text-gray-900" href="/tags/engineering
">
            Tag category</a
          >
          <a class="text-gray-600 hover:text-gray-900" href="/"> RSS</a>
        </ul>
      </li>
      <li>
        <h3 class="font-display text-3xl font-bold tracking-tight text-black">
          Infopages
        </h3>
        <ul role="list" class="flex flex-col gap28 mt-4">
          <a class="text-gray-600 hover:text-gray-900" href="/infopages/terms">
            Terms</a
          >
          <a
            class="text-gray-600 hover:text-gray-900"
            href="/infopages/privacy">
            Privacy</a
          >

          <a class="text-gray-600 hover:text-gray-900" href="/infopages/faq">
            Faq</a
          >
          <a class="text-gray-600 hover:text-gray-900" href="/404"> 404</a>
        </ul>
      </li>
      <li>
        <h3 class="font-display text-3xl font-bold tracking-tight text-black">
          Forms
        </h3>
        <ul role="list" class="flex flex-col gap28 mt-4">
          <a class="text-gray-600 hover:text-gray-900" href="/forms/contact">
            Contact</a
          >
        </ul>
      </li>
      <li>
        <h3 class="font-display text-3xl font-bold tracking-tight text-black">
          System pages
        </h3>
        <ul role="list" class="flex flex-col gap28 mt-4">
          <a class="text-gray-600 hover:text-gray-900" href="/system/overview">
            Overview</a
          >
          <a
            class="text-gray-600 hover:text-gray-900"
            href="/system/style-guide">
            Style guide</a
          >
        </ul>
      </li>
    </ul>
  </div>
</section>
