<section>
  <div class="px-8 md:px-12 pt-12 2xl:max-w-7xl mx-auto">
    <h1 class="text-gray-900 text-2xl lg:text-6xl font-display max-w-6xl">
      Overview
    </h1>
    <div
      class="grid grid-cols-1 lg:grid-cols-2 gap-8 items-start mt-12 lg:mt-24">
      <div>
        <p class="text-gray-900 text-2xl lg:text-6xl font-display">
          <span class="text-gray-900 font-medium block">Typography</span>
        </p>
        <span class="text-gray-600 text-xl block mt-4"
          >Gambarino, Supreme &amp; JetBrains Mono</span
        >
      </div>
      <div>
        <div class="space-y-6 mt-8">
          <div class="grid grid-cols-1 lg:grid-cols-4 items-start">
            <div>
              <span class="text-gray-900">Display text</span>
            </div>
            <div class="lg:col-span-3">
              <span class="text-gray-900 text-4xl font-display lg:text-9xl"
                >Display</span
              >
            </div>
          </div>
          <div class="grid grid-cols-1 lg:grid-cols-4 items-start">
            <div>
              <span class="text-gray-900">H1</span>
            </div>
            <div class="lg:col-span-3">
              <span class="text-gray-900 text-2xl lg:text-6xl font-display"
                >Heading</span
              >
            </div>
          </div>

          <div class="grid grid-cols-1 lg:grid-cols-4 items-start">
            <div><span class="text-gray-900">Link</span></div>
            <div class="lg:col-span-3">
              <span
                class="text-gray-600 text-base underline hover:text-gray-900"
                >Link text</span
              >
            </div>
          </div>
          <div class="grid grid-cols-1 lg:grid-cols-4 items-start">
            <div>
              <span class="text-gray-900">Subtitle</span>
            </div>
            <div class="lg:col-span-3">
              <span class="text-gray-900 font-semibold uppercase"
                >Subtitle text</span
              >
            </div>
          </div>
          <div class="grid grid-cols-1 lg:grid-cols-4 items-start">
            <div><span class="text-gray-900">Paragraph</span></div>
            <div class="lg:col-span-3">
              <span class="text-gray-600 text-xl"
                >I am so happy, my dear friend, so absorbed in the exquisite
                sense of mere tranquil existence, that I neglect my talents.</span
              >
            </div>
          </div>
          <div class="grid grid-cols-1 lg:grid-cols-4 items-start">
            <div><span class="text-gray-900">Caption</span></div>
            <div class="lg:col-span-3">
              <span class="text-gray-900 text-xs">Picture about somethign</span>
            </div>
          </div>
          <div class="grid grid-cols-1 lg:grid-cols-4 items-start">
            <div><span class="text-gray-900 prose">Code</span></div>
            <div class="lg:col-span-3">
              <code class="font-mono">tailwind.config.js</code>
            </div>
          </div>
          <div class="grid grid-cols-1 lg:grid-cols-4 items-start">
            <div><span class="text-gray-900">List</span></div>
            <div class="lg:col-span-3">
              <ul
                class="text-gray-600 list-disc list-inside mt-6 space-y-3"
                role="list">
                <ul class="list-disc mt-3 prose" role="list">
                  <li>Access to premium posts</li>
                  <li>Weekly newsletters</li>
                  <li>Simple, secure card payment</li>
                  <li>No Advertising</li>
                  <li>Special discounts</li>
                </ul>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="grid grid-cols-1 lg:grid-cols-2 gap-8 items-start mt-12 lg:mt-24">
      <div>
        <p class="text-gray-900 text-2xl lg:text-6xl font-display">
          <span class="text-gray-900 font-medium block">Color Palette</span>
        </p>
      </div>
      <div class="grid gap-2 grid-cols-2 lg:grid-cols-2">
        <div>
          <div class="lg:justify-center p-6 bg-white"></div>
          <div
            class="lg:justify-center p-6 bg-base border-t-none mt-0.5 border border-gray-300">
          </div>
        </div>
        <div>
          <div class="lg:justify-center p-6 bg-gray-50"></div>
          <div class="lg:justify-center p-6 bg-gray-100"></div>
          <div class="lg:justify-center p-6 bg-gray-200"></div>
          <div class="lg:justify-center p-6 bg-gray-300"></div>
          <div class="lg:justify-center p-6 bg-gray-400"></div>
          <div class="lg:justify-center p-6 bg-gray-500"></div>
          <div class="lg:justify-center p-6 bg-gray-600"></div>
          <div class="lg:justify-center p-6 bg-gray-700"></div>
          <div class="lg:justify-center p-6 bg-gray-800"></div>
          <div class="lg:justify-center p-6 bg-gray-900"></div>
          <div class="lg:justify-center p-6 bg-gray-950"></div>
        </div>
      </div>
    </div>
  </div>
</section>
