<section>
  <div class="px-8 md:px-12 pt-12 lg:pt-48 2xl:max-w-7xl mx-auto">
    <h1 class="text-gray-900 text-4xl lg:text-6xl font-display max-w-6xl">
      Work.
    </h1>
  </div>
</section>
<section>
  <div class="px-8 md:px-12 pt-12 lg:pb-24 2xl:max-w-7xl mx-auto">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-px">
      <a href="/work/case-study">
        <img class="aspect-[4/4] object-cover" src="/w1.svg" alt="#" />
        <article class="mt-4">
          <p class="text-gray-900 font-semibold">MicroPhone</p>
          <p class="text-gray-500 font-normal">UI/UX,Website</p>
        </article>
      </a>
      <a href="/work/case-study">
        <img class="aspect-[4/4] object-cover" src="/w2.svg" alt="#" />
        <article class="mt-4">
          <p class="text-gray-900 font-semibold">Field</p>
          <p class="text-gray-500 font-normal">Website, Branding</p>
        </article>
      </a>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-px mt-8">
      <a href="/work/case-study">
        <img class="aspect-[4/4] object-cover" src="/w3.svg" alt="#" />
        <article class="mt-4">
          <p class="text-gray-900 font-semibold">Musico</p>
          <p class="text-gray-500 font-normal">UI/UX</p>
        </article>
      </a>
      <a href="/work/case-study">
        <img class="aspect-[4/4] object-cover" src="/w4.svg" alt="#" />
        <article class="mt-4">
          <p class="text-gray-900 font-semibold">Magic Radio</p>
          <p class="text-gray-500 font-normal">Website, iOS APP, Android APP</p>
        </article>
      </a>
      <a href="/work/case-study">
        <img class="aspect-[4/4] object-cover" src="/w5.svg" alt="#" />
        <article class="mt-4">
          <p class="text-gray-900 font-semibold">Accesories</p>
          <p class="text-gray-500 font-normal">Packagin, Branding</p>
        </article>
      </a>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-4 gap-px mt-8">
      <a href="/work/case-study">
        <img class="aspect-[4/4] object-cover" src="/branding1.svg" alt="#" />
        <article class="mt-4">
          <p class="text-gray-900 font-semibold">Pixelan</p>
          <p class="text-gray-500 font-normal">Website,Branding</p>
        </article>
      </a>
      <a href="/work/case-study">
        <img class="aspect-[4/4] object-cover" src="/branding2.svg" alt="#" />
        <article class="mt-4">
          <p class="text-gray-900 font-semibold">Circle Pop</p>
          <p class="text-gray-500 font-normal">UI/UX</p>
        </article>
      </a>
      <a href="/work/case-study">
        <img class="aspect-[4/4] object-cover" src="/branding3.svg" alt="#" />
        <article class="mt-4">
          <p class="text-gray-900 font-semibold">StarringWars</p>
          <p class="text-gray-500 font-normal">iOS APP & Android APP</p>
        </article>
      </a>
      <a href="/work/case-study">
        <img class="aspect-[4/4] object-cover" src="/branding4.svg" alt="#" />
        <article class="mt-4">
          <p class="text-gray-900 font-semibold">Staircaser</p>
          <p class="text-gray-500 font-normal">Packagin, Branding</p>
        </article>
      </a>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-px mt-8">
      <a href="/work/case-study">
        <img class="aspect-[4/4] object-cover" src="/w6.svg" alt="#" />
        <article class="mt-4">
          <p class="text-gray-900 font-semibold">Walkmann</p>
          <p class="text-gray-500 font-normal">UI/UX, Branding, Website</p>
        </article>
      </a>
      <a href="/work/case-study">
        <img class="aspect-[4/4] object-cover" src="/w7.svg" alt="#" />
        <article class="mt-4">
          <p class="text-gray-900 font-semibold">Magic Radio</p>
          <p class="text-gray-500 font-normal">iOS APP</p>
        </article>
      </a>
      <a href="/work/case-study">
        <img class="aspect-[4/4] object-cover" src="/w8.svg" alt="#" />
        <article class="mt-4">
          <p class="text-gray-900 font-semibold">Accesories</p>
          <p class="text-gray-500 font-normal">Packagin</p>
        </article>
      </a>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-px mt-8">
      <a href="/work/case-study">
        <img class="aspect-[4/4] object-cover" src="/w9.svg" alt="#" />
        <article class="mt-4">
          <p class="text-gray-900 font-semibold">MicroPhone</p>
          <p class="text-gray-500 font-normal">UI/UX,Website</p>
        </article>
      </a>
      <a href="/work/case-study">
        <img class="aspect-[4/4] object-cover" src="/w10.svg" alt="#" />
        <article class="mt-4">
          <p class="text-gray-900 font-semibold">Field</p>
          <p class="text-gray-500 font-normal">Website, Branding</p>
        </article>
      </a>
    </div>
  </div>
</section>
