<section>
  <div class="px-8 md:px-12 pt-12 2xl:max-w-7xl mx-auto">
    <h1 class="text-gray-900 text-2xl lg:text-6xl font-display max-w-6xl">
      Mechanical Keyboards
    </h1>
    <div class="space-y-6 text-gray-600 text-xl max-w-xl mt-4">
      <p>
        This case study highlights the process of designing and developing a new
        model of mechanical keyboard. The mechanical keyboard company is
        renowned for its production of innovative and high-quality keyboard
        designs. The objective was to create a keyboard that seamlessly merges
        aesthetics, ergonomic design, and advanced features. This goal was
        achieved by utilizing a combination of premium materials, customizable
        key switches, and intuitive software for easy configuration.
      </p>
      <p>
        The project commenced with thorough user research to gain insights into
        typing preferences and hand positioning, which guided an iterative
        design process resulting in an elegant and comfortable layout.
      </p>
      <p>
        Collaboration with engineers was pivotal in implementing unique switch
        mechanisms, customizable firmware, and flawless connectivity. The
        successful launch of the new mechanical keyboard model garnered positive
        acclaim for its performance and design attributes.
      </p>
    </div>
    <div class="space-y-4 mt-12 max-w-xl">
      <div class="flex flex-col md:flex-row justify-between">
        <p class="text-gray-900 font-semibold uppercase">Year</p>
        <p class="text-gray-500 font-normal">2022</p>
      </div>
      <div class="flex flex-col md:flex-row justify-between">
        <p class="text-gray-900 font-semibold uppercase">Client</p>
        <p class="text-gray-500 font-normal">Mechanical Keyboards</p>
      </div>
      <div class="flex flex-col md:flex-row justify-between">
        <p class="text-gray-900 font-semibold uppercase">Work</p>
        <p class="text-gray-500 font-normal">Website &amp; branding</p>
      </div>

      <div class="flex flex-col md:flex-row justify-between pt-12 lg:pt-24">
        <p class="text-gray-900 font-semibold uppercase">Credits</p>
        <div>
          <div
            class="flex flex-col md:flex-row justify-between gap-8 items-start">
            <div class="space-y-4 w-full">
              <div class="flex flex-col md:flex-row gap-8 justify-between">
                <p class="text-gray-900 font-semibold uppercase">Cloe Pinot</p>
                <p class="text-gray-500 font-normal">Packaging</p>
              </div>
              <div class="flex flex-col md:flex-row justify-between">
                <p class="text-gray-900 font-semibold uppercase">Rob Pirelly</p>
                <p class="text-gray-500 font-normal">Development</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-px mt-12">
      <img
        class="w-full object-cover col-span-full aspect-[4/4]"
        src="/ipad.svg"
        alt="#"
      />
      <img
        class="w-full object-cover aspect-[4/4]"
        src="/widget1.svg"
        alt="#"
      />
      <img
        class="w-full object-cover aspect-[4/4]"
        src="/widget2.svg"
        alt="#"
      />
      <img
        class="w-full object-cover aspect-[4/4]"
        src="/widget3.png"
        alt="#"
      />
      <img
        class="w-full object-cover aspect-[4/4]"
        src="/widget4.png"
        alt="#"
      />
      <img
        class="w-full object-cover col-span-full aspect-[4/4]"
        src="/widget5.png"
        alt="#"
      />
    </div>
  </div>
</section>
