<section>
  <div class="px-8 md:px-12 pt-12 lg:pt-48 2xl:max-w-7xl mx-auto">
    <h1 class="text-gray-900 text-4xl lg:text-6xl font-display max-w-6xl">
      If collaboration is of interest, kindly send us an email, and we will
      respond promptly.
    </h1>
    <p class="mt-8">
      <a
        href=""
        class="text-gray-600 text-4xl lg:text-8xl font-display underline hover:text-gray-900"
        >michael@riflesso.com</a
      >
    </p>
  </div>
</section>
