---
const today = new Date();
---

<footer class="max-w-7xl mx-auto px-4 lg:px-8 border-t border-gray-100">
    <div class="py-8">
        <div class="flex flex-col items-baseline">
            <div
                class="w-full pb-4 flex items-center justify-between gap-2 text-gray-500">
                <a href="/" class="no-underline" title="Return home">
                    <svg viewBox="0 0 46 48" class="w-4 h-4"
                        ><title>Dusk logo</title>
                        <path
                            fill="currentColor"
                            fill-rule="evenodd"
                            d="M22.2396694,0 C36.7809917,0 46,7.1915061 46,21.8352941 C46,37.1089265 35.0892562,48 18.8181818,48 C6.44380165,48 0,40.6008651 0,33.3176471 C0,27.5202517 3.45950413,22.8391663 8.55371901,21.0823529 L8.55371901,6.96470588 C8.62975207,2.18953991 7.56528926,1.86865906 2.47107438,1.50588235 L2.47107438,0 L22.2396694,0 Z M22.2380952,3 L16.5238095,3 C15.3624801,3 14.6565978,3.67349666 14.6190476,4.86666667 L14.6190476,20.36 C21.0667727,21.0534521 25.7980922,25.1505568 25.8571429,30.6266667 C25.7980922,33.5318486 24.4054054,36.0013363 21.2857143,36.04 C19.2734499,36.0013363 17.518283,34.6356347 17.4761905,32.68 C17.518283,31.1746102 18.2050874,30.4262806 18.8095238,29.6933333 C19.4260731,29.1167038 19.9984102,28.5554566 19.952381,27.64 C19.9984102,25.636971 17.7281399,23.1674833 12.9047619,23.16 C7.86486486,23.1674833 3,26.5162584 3,33.24 C3,40.7158129 10.154213,45 18.6190476,45 C30.8346582,45 39,37.7412027 39,22.04 C39,6.53585746 31.5977742,3 22.2380952,3 Z"
                        ></path>
                    </svg>
                </a>
                <ul class="list-reset flex gap-4">
                    <li>
                        <a
                            href="https://mastodon.nz/@dvsk"
                            target="_blank"
                            title="Find me on Mastodon"
                            ><svg
                                xmlns="http://www.w3.org/2000/svg"
                                class="w-4 h-4"
                                viewBox="0 0 192 192"
                                ><title>Find me on Mastodon</title>
                                <path
                                    d="M2004.3 228h-.57c-19.87.163-38.97 2.491-50.13 7.601-.5.213-24.58 10.78-24.58 46.99 0 7.394-.14 16.236.09 25.612.4 16.438 2 32.742 7.21 45.957 5.67 14.406 15.47 25.335 32.04 29.72 14.11 3.737 26.23 4.503 35.99 3.967h.01c18.41-1.021 28.71-6.695 28.71-6.695a6.018 6.018 0 0 0 3.16-5.558l-.56-12.178a5.984 5.984 0 0 0-2.56-4.646 5.995 5.995 0 0 0-5.24-.804s-11.04 3.471-23.45 3.047c-4.87-.167-9.84-.357-14.18-1.544-3.91-1.069-7.14-3.148-8.76-7.347 5.59.951 13.45 2.021 22.27 2.425 10.49.481 20.33-.592 30.33-1.785 12.37-1.477 23.76-6.688 31.4-13.091 5.8-4.865 9.47-10.509 10.5-15.801v-.001c3.23-16.623 3.05-40.428 3.04-41.319-.01-36.286-24.23-46.801-24.58-46.951-11.14-5.105-30.25-7.436-50.14-7.599Zm59.9 93.58.09-.471c3.1-15.948 2.73-38.451 2.73-38.451v-.067c0-27.633-17.49-36.04-17.49-36.04a.234.234 0 0 0-.05-.024c-10.05-4.616-27.33-6.379-45.26-6.527h-.41c-17.93.148-35.2 1.911-45.25 6.527l-.06.024s-17.48 8.407-17.48 36.04c0 7.308-.15 16.047.09 25.314v.004c.36 14.96 1.64 29.826 6.37 41.852 4.27 10.836 11.49 19.221 23.95 22.519 12.65 3.349 23.51 4.066 32.26 3.585 9.61-.533 16.56-2.512 20.36-3.891l-.04-.739c-5.11 1.018-12.33 2.033-20 1.771-16.29-.559-32.69-3.029-35.34-23.016a40.2 40.2 0 0 1-.35-5.4 6 6 0 0 1 2.3-4.719 5.998 5.998 0 0 1 5.13-1.109s12.59 3.066 28.55 3.798c9.81.45 19.01-.598 28.36-1.713 9.88-1.18 19.01-5.258 25.11-10.372 3.36-2.814 5.83-5.834 6.43-8.895Zm-54.2-36.244c.68-2.603 3.99-12.807 14.27-12.807 10.68 0 10.54 12.137 10.54 12.137v34.224c0 3.311 2.69 6 6 6s6-2.689 6-6v-34.406s-.68-23.955-22.54-23.955c-10 0-16.43 5.292-20.4 10.778-4.07-5.273-10.62-10.293-20.78-10.293-6.92 0-11.53 2.138-14.68 4.857-6.67 5.747-6.86 14.826-6.81 16.949l.02.455s-.01-.161-.02-.455v-.052 36.342c0 3.311 2.69 6 6 6s6-2.689 6-6v-36.342c0-.169-.01-.338-.02-.507 0 0-.5-4.577 2.66-7.298 1.45-1.252 3.66-1.949 6.85-1.949 10.65 0 14.18 9.844 14.91 12.386v20.233c0 3.311 2.69 6 6 6s6-2.689 6-6v-20.297Z"
                                    fill="currentColor"
                                    style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2"
                                    transform="translate(-1908 -212)"></path>
                            </svg></a
                        >
                    </li>
                    <li>
                        <a
                            href={`${Astro.site}rss.xml`}
                            target="_blank"
                            title="Subscribe to the RSS feed">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                class="w-4 h-4"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                ><title>Subscribe to the RSS feed</title><g
                                    id="rss"
                                    fill="none"
                                    fill-rule="nonzero"
                                    ><path
                                        d="M24 0v24H0V0h24ZM12.594 23.258l-.012.002-.071.035-.02.004-.014-.004-.071-.036c-.01-.003-.019 0-.024.006l-.004.01-.017.428.005.02.01.013.104.074.015.004.012-.004.104-.074.012-.016.004-.017-.017-.427c-.002-.01-.009-.017-.016-.018Zm.264-.113-.014.002-.184.093-.01.01-.003.011.018.43.005.012.008.008.201.092c.012.004.023 0 .029-.008l.004-.014-.034-.614c-.003-.012-.01-.02-.02-.022Zm-.715.002a.023.023 0 0 0-.027.006l-.006.014-.034.614c0 .012.007.02.017.024l.015-.002.201-.093.01-.008.003-.011.018-.43-.003-.012-.01-.01-.184-.092Z"
                                    ></path><path
                                        fill="currentColor"
                                        d="M5.5 17a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm0-14C14.06 3 21 9.94 21 18.5c0 .179-.003.357-.009.534a1 1 0 0 1-1.999-.068c.005-.155.008-.31.008-.466C19 11.044 12.956 5 5.5 5c-.156 0-.311.003-.466.008a1 1 0 0 1-.068-1.999C5.143 3.003 5.321 3 5.5 3Zm0 7a8.5 8.5 0 0 1 8.482 9.066 1 1 0 0 1-1.996-.132 6.5 6.5 0 0 0-6.92-6.92 1 1 0 1 1-.132-1.995c.187-.013.376-.019.566-.019Z"
                                    ></path></g
                                ></svg
                            >
                        </a>
                    </li>
                </ul>
            </div>
            <div
                class="w-full flex flex-col lg:flex-row gap-2 items-baseline justify-between">
                <p
                    class="my-0 py-0 text-xs uppercase text-gray-500 tracking-wide leading-tight">
                    The creative output of Rhys Jones
                </p>
                <p
                    class="my-0 py-0 text-xs uppercase text-gray-500 tracking-wide leading-tight">
                    Copyright 2008&ndash;{today.getFullYear()}. All rights
                    reserved.
                </p>
            </div>
        </div>
    </div>
</footer>
