---
// Based on this pen: https://codepen.io/TahseenAlaa/pen/gORezZR
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.split("/")[1];
---

<header class="sticky top-0 z-50 w-full md:pt-1 md:px-4 mb-4 md:mb-8 lg:mb-16">
    <div
        class="max-w-6xl mx-auto flex flex-wrap items-center justify-between gap-4 bg-yellow-50/80 backdrop-blur-md rounded p-4">
        <a class="flex-shrink-0 flex items-center w-6 h-6" href="/"
            ><svg
                viewBox="0 0 46 48"
                width="46"
                height="48"
                fill="currentColor"
                class="object-contain w-full h-full">
                <path
                    fill-rule="evenodd"
                    d="M22.2396694,0 C36.7809917,0 46,7.1915061 46,21.8352941 C46,37.1089265 35.0892562,48 18.8181818,48 C6.44380165,48 0,40.6008651 0,33.3176471 C0,27.5202517 3.45950413,22.8391663 8.55371901,21.0823529 L8.55371901,6.96470588 C8.62975207,2.18953991 7.56528926,1.86865906 2.47107438,1.50588235 L2.47107438,0 L22.2396694,0 Z M22.2380952,3 L16.5238095,3 C15.3624801,3 14.6565978,3.67349666 14.6190476,4.86666667 L14.6190476,20.36 C21.0667727,21.0534521 25.7980922,25.1505568 25.8571429,30.6266667 C25.7980922,33.5318486 24.4054054,36.0013363 21.2857143,36.04 C19.2734499,36.0013363 17.518283,34.6356347 17.4761905,32.68 C17.518283,31.1746102 18.2050874,30.4262806 18.8095238,29.6933333 C19.4260731,29.1167038 19.9984102,28.5554566 19.952381,27.64 C19.9984102,25.636971 17.7281399,23.1674833 12.9047619,23.16 C7.86486486,23.1674833 3,26.5162584 3,33.24 C3,40.7158129 10.154213,45 18.6190476,45 C30.8346582,45 39,37.7412027 39,22.04 C39,6.53585746 31.5977742,3 22.2380952,3 Z"
                ></path>
                <title>Return home</title>
            </svg></a
        >
        <ul
            id="menu"
            class="hidden fixed top-0 right-0 px-16 py-16 space-y-8 text-center font-bold tracking-wide uppercase text-2xl md:text-xs bg-yellow-50 z-50
            md:relative md:flex md:p-0 md:bg-transparent md:flex-row md:space-x-12 md:space-y-0">
            <li class="md:hidden z-90 fixed top-1 right-4">
                <button class="hover:text-yellow-600 duration-150 menu-toggle"
                    ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24">
                        <path
                            fill="currentColor"
                            fill-rule="evenodd"
                            d="M17.778.808l1.414 1.414L11.414 10l7.778 7.778-1.414 1.414L10 11.414l-7.778 7.778-1.414-1.414L8.586 10 .808 2.222 2.222.808 10 8.586 17.778.808z"
                        ></path>
                    </svg></button
                >
            </li>

            <li>
                <a
                    href="/"
                    class={currentPath === "" ? "text-yellow-600" : ""}
                    aria-current={`${currentPath === "" ? "page" : ""}`}>Home</a
                >
            </li>
            <li>
                <a
                    href="/portfolio/"
                    class={currentPath === "portfolio" ? "text-yellow-600" : ""}
                    aria-current={`${currentPath === "portfolio" ? "page" : ""}`}
                    >Portfolio</a
                >
            </li>
            <li>
                <a
                    href="/journal/"
                    class={currentPath === "journal" ? "text-yellow-600" : ""}
                    aria-current={`${currentPath === "journal" ? "page" : ""}`}
                    >Journal</a
                >
            </li>

            <li>
                <a
                    href="/about/"
                    class={currentPath === "about" ? "text-yellow-600" : ""}
                    aria-current={`${currentPath === "about" ? "page" : ""}`}
                    >About &amp; Contact</a
                >
            </li>
        </ul>

        <div class="flex items-center md:hidden">
            <button class="hover:text-yellow-600 duration-150 menu-toggle"
                ><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24">
                    <g fill="currentColor" fill-rule="evenodd">
                        <path d="M0 0h24v2H0zM0 7h24v2H0zM0 14h24v2H0z"></path>
                    </g>
                </svg></button
            >
        </div>
    </div>
</header>
<script>
    // This is for our mobile menu
    const menu = document.getElementById("menu");
    const menuButton = document.querySelectorAll(".menu-toggle");
    menuButton.forEach((button) => {
        button.addEventListener("click", () => {
            menu.classList.toggle("hidden");
            menu.classList.toggle("w-full");
            menu.classList.toggle("h-screen");
        });
    });
</script>
