<section class="border-b border-gray-300">
  <div
    class="relative flex w-full px-8 bg-base items-center flex-row md:px-12 py-4 2xl:max-w-7xl mx-auto">
    <a class="text-black text-3xl font-medium font-display" href="/">
      Rifflesso</a
    >
    <nav
      class="items-center flex-grow flex justify-end flex-row ml-auto gap-3 lg:gap-12">
      <a
        class="text-xs uppercase lg:text-lg text-gray-900 hover:text-gray-600 lg:ml-auto"
        href="/system/overview">
        Overview
      </a>
      <a
        class="text-xs uppercase lg:text-lg text-gray-900 hover:text-gray-600"
        href="/system/style-guide">
        Style Guide
      </a>
      <a href="https://lexingtonthemes.lemonsqueezy.com/checkout/buy/91ad4062-e859-4d98-9e67-5331bb4d095c"
        class="text-xs uppercase lg:text-lg text-gray-900 hover:text-gray-600"
        href="#_">
        Buy Riflesso
      </a>
    </nav>
  </div>
</section>
